@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');

}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --fs-regular: 1rem;

  --fw-young-serif-normal: 400;
  --fw-outfit-normal: 400;
  --fw-outfit-semi-bold: 600;
  --fw-outfit-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: var(--fw-outfit-normal);
  font-size: var(--fs-regular);
  line-height: 1.5;
  color: var(--Stone-600);
  background: var(--White);
}

article {
  background: var(--White);
  width: 100%;
  margin: auto;
}

.recipe-image { max-width: 100%; }
.recipe { padding: 2.125rem 2rem; }

h1, h2 {
  font-family: 'Young Serif', serif;
  font-weight: var(--fw-young-serif-normal);
  line-height: 1;
}

h1 {
  font-size: 2.25rem;
  color: var(--Stone-900);
  margin-bottom: 1.5rem;
}

h1 ~ p { margin-bottom: 2rem; }

h2 {
  font-size: 1.75rem;
  color: var(--Brown-800);
  margin-bottom: 1.25rem;
}

hr {
  border: none;
  height: .0625rem ;
  background-color: var(--Stone-150);
  margin: 2rem 0;
}

strong { font-weight: var(--fw-outfit-semi-bold); }

/* Preparation Time */

.preparation-time {
  border-radius: .5rem;
  background: var(--Rose-50);
  padding: 1.25rem 1.5rem;
  margin-bottom: 2.125rem;
}

.preparation-time h2 {
  font-weight: var(--fw-outfit-semi-bold);
  color: var(--Rose-800);
  margin-bottom: .75rem;
}

.recipe ul li:not(:last-child) { margin-bottom: .1875rem; }

.recipe ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.recipe ul li::before {
  content: "•";
  font-size: 1.25rem;
  margin-left: .5rem;
  margin-right: 1.5rem;
  color: var(--Rose-800);
}

.ingredients ul li::before { color: var(--Brown-800); }
.ingredients strong { font-weight: var(--fw-outfit-bold); }

/* Instructions */

.instructions ol { margin-left: 1.5rem; }

.instructions ol li::marker {
  color: var(--Brown-800);
  font-weight: var(--fw-outfit-bold);
}

.instructions li { padding-left: 1rem; }

.instructions li:not(:last-child) { margin-bottom: .5625rem; }

/* Nutrition */

.nutrition p { margin-bottom: 1.25rem; }

table {
  min-width: 100%;
  border-collapse: collapse;
}

td {
  padding: .5625rem 2rem;
  border-bottom: .0625rem solid var(--Stone-150);
}

tr:last-child td { border: none; }

td:nth-child(2) {
  font-weight: var(--fw-outfit-semi-bold);
  color: var(--Brown-800);
}

@media (min-width: 46rem) {
  body {
    background: var(--Stone-100);
  }

  article {
    margin: 7.625rem auto;
    padding: 2.5rem;
    max-width: 46rem;
    border-radius: 1.5rem;
  }

  article img {
    border-radius: .75rem;
    margin-bottom: 2.125rem;
  }

  .recipe { padding: 0; }

  h1 { font-size: 2.5rem; }

  .preparation-time { padding: 1.5rem 1.75rem; }
  .preparation-time h2 { font-size: 1.25rem; }

  .nutrition { margin-bottom: .25rem; }
  .nutrition p { margin-bottom: .5rem; }

  td { padding: .75rem 2rem; }
  tr:last-child td { padding-bottom: 0; }
}